body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

/*relationship/following*/


div.following-wrapper {
    margin-top: 4px;
    padding:2px;
    border: 1px solid #cddbe8;
    border-radius: 6px;
    min-width: 30%;
    max-width: 60%;
}

div.you-are-following {
    padding-top: 3px;
    margin-bottom: auto;
    display:inline-block;

}

/* user index & detail */
div.user-bio-text {
    display:inline-block;
}

div.user-bio-text-empty {
    display:inline-block;
    color:#d7d7d7;
}

/* messages & comments */
.messages-body-header {
    border-bottom: 2px solid #cddbe8;
    margin-top: 10px;
}
    
div.message-wrapper {
    border: 1px solid #cddbe8;
    border-radius:6px;
    min-width:30%;
    max-width: 60%;
    padding-top:3px;
    margin-top:5px;
}

div.user-message {
    background-color:#cfd1d1;
    font-weight:500;
    font-size:large;
    color:black;
    padding:4px;
}

div.comment-form-wrapper {
    margin-top: 4px;
    margin-bottom: 6px;
}

textarea {
    width: 400px;
    margin-bottom:5px;
}

div.comment-wrapper {
    margin-left: 15px;
    padding: 3px;
    border-bottom:1px solid #abcfeb;
}

div.message-date {

}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}