<!-- ko with: home -->
<div class="jumbotron">
    <h1>Secure Coding Asp.Net Training </h1>
    <p class="lead">ASP.NET Application for secure coding training.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more about ASP.Net &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>How well is it protected?</p>
        <p data-bind="text: myHometown"></p>
    </div>

    <div class="col-md-4">
        <h2>Using the App</h2>
        <p>
            The application is intended as part of training. You will discover and fix vulnerabilities in the app. Feel free to complete incomplete features if you are really ambitious.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>The truth is that the cloud is really just someone else's computer</p>
    </div>
</div>

<!-- /ko -->
